h2 {
  font-size: 32px;
}

h2, h3 {
  margin: 20px 0;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mt-20 {
  margin-top: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.pb-20px {
  padding-bottom: 20px;
}

/* header */
header {
  height: 80px;
  width: 100%;
  line-height: 80px;
  position: fixed;
  top: 0;
  background-color: #428bca;
  color: white;
}

.logo {
  padding-top: 13px;
  padding-left: 10px;
}

header li {
  padding: 0 10px;
  display: inline-block;
}

/* main */
main {
  text-align: center;
}

main img {
  height: 200px;
}

main .row:first-child {
  background-color: white;
}

main .row {
  background-color: #f9f9f9;
}

main .row:last-child img {
  height: 260px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

main hr {
  margin: 8px 0;
}

/* footer */
footer {
  background-color: #428bca;
  color: white;
}

footer .row:first-child {
  text-align: center;
}

footer .row:first-child ul{
  margin: 20px 0 40px;
}

footer .row:first-child li{
  margin-bottom: 5px;
}

footer .row:first-child hr{
  color: white;
}

@media screen and (max-width: 768px) {

  header {
    text-align: center;
  }

  .logo {
    padding-left: 0px;
  }

  .list {
    display: none;
  }
}
